[project]
	description = Java Project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amirmalka
[access "refs/for/refs/*"]
	read = group user/amirmalka
	push = group user/amirmalka
	label-Code-Review = -2..+2 group user/amirmalka
	label-Verified = -1..+1 group user/amirmalka
	rebase = group user/amirmalka
	removeReviewer = group user/amirmalka
	submit = group user/amirmalka
[access "refs/heads/*"]
	read = group user/amirmalka
	create = group user/amirmalka
	push = +force group user/amirmalka
	pushMerge = group user/amirmalka
[access "refs/tags/*"]
	push = group user/amirmalka
	push = +force group user/amirmalka
